# Compiled source #
###################
a.out
main
tempCodeRunnerFile.cpp
oldcode.cpp
angmom.exe
angmom.obj
chiral_LO.exe
chiral_LO.obj
main.exe
main.obj
quantumStates.obj
solveLS.obj
data.csv
.vs
*.dSYM
*.json
.gitignore
testJoseph*
test
*.obj
*.exe
*.dll
*.dll.a
*.exp
*.lib
std