# Compiled source #
###################
a.out
main
tempCodeRunnerFile.cpp
oldcode.cpp
angmom.exe
angmom.obj
chiral_LO.exe
chiral_LO.obj
main.exe
main.obj
quantumStates.obj
solveLS.obj
.vs
*.dSYM
*.json
.gitignore
testJoseph*
*.obj
*.exe